body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

#map {
  position: relative;
  flex: 1;
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#map svg circle {
  pointer-events: auto;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

label {
  margin-left: auto;
}

em,
time {
  display: block;
}

em {
  color: #888;
  font-style: italic;
}

input[type="range"] {
  width: 300px;
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

#map circle {
  pointer-events: auto;

  --color-departures: steelblue;
  --color-arrivals: darkorange;

  fill: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );

  stroke: white;
  stroke-width: 1;
  opacity: 0.6;
}

:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-block: 1em;
}

.legend-title {
    color: color-mix(in oklch, black 35%, white 55%);
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.85rem;
}

.legend > div::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;

  background: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}